<nav class="navbar navbar-inverse">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-atla5" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand" href="/">
      <span class="pbl">
        <img src="https://avatars3.githubusercontent.com/u/5565284" width="25" height="25" style="border-radius: 3px;" alt="">
      </span>
      <span class="pls">Aidan Sawyer</span>
    </a>
  </div>


  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar-atla5">
    <ul class="nav navbar-nav">
      <li class="active"><a href="?page=home">Home<span class="sr-only">(current)</span></a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </div>
</nav>

<div id="main-body">
  <router-outlet></router-outlet>
</div>

<br />

<footer class="mvm">
  <div class="container text-muted">
    Created in 2017 by Aidan Sawyer
      (<a href="https://github.com/{{accounts.github}}">{{accounts.github}}</a> | <a href="https://github.com/{{accounts.github_org}}">{{accounts.github_org}}</a>) |
    email: <a href="mailto:{{contact.email}}">{{contact.email}}</a> |
    phone: <a href="tel:[1-585-397-5491]">585.397.5491</a> |
    <a href="https://github.com/atla5/resume/raw/master/build/Resume_Sawyer.pdf" target="_blank">resume</a>
  </div>
</footer>
