body {
  width: 95%;
}

footer {
  background-color: #eee;
}


/* margin/padding utilities */ 
.phm {
  padding-left: 10px;
  padding-right: 10px;
}
.pls { padding-left: 5px; }
.pll { padding-left: 15px; }
.pbs { padding-bottom: 5px; }
.pbl { padding-bottom: 15px; }
.pts { padding-top: 5px; }
.mvm {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* text utilities */
.txtc { text-align: center; }
.large-text { font-size: large; }