/* You can add global styles to this file, and also import other style files */
body {
  margin: 5% 10%;
}

.phm {
  padding-left: 10px;
  padding-right: 10px;
}

.pbs {
  padding-bottom: 5px;
}

.pbl {
  padding-bottom: 15px;
}

.pts {
  padding-top: 5px;
}
