/* -- general utilities -- */
body { width: 95%; }
footer { background-color: #eee; }

/* margin/padding utilities */ 
.phm {
  padding-left: 10px;
  padding-right: 10px;
}
.pls { padding-left: 5px; }
.pll { padding-left: 15px; }
.prl { padding-right: 15px; }
.pbs { padding-bottom: 5px; }
.pbl { padding-bottom: 15px; }
.pts { padding-top: 5px; }
.mvm {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* text utilities */
.txtc { text-align: center; }
.large-text { font-size: large; }

/* -- section styles -- */ 
#skills ul { display: table; }
#skills ul li { display: table-row; }
#skills ul li strong, #skills ul li span { 
  display: table-cell; padding-left: 15px;
}